@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */




.myText{
  font-size: 12px !important;
  font-weight: 500;
}


.product{
    font-size: 12px !important;
}
.card:hover{
  box-shadow: 0px 0px 5px grey !important;
}