@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body{
  background-color: rgb(232, 232, 232) !important;
  font-family: 'Times New Roman', Times, serif !important;
}

.myText{
  font-size: 12px !important;
  font-weight: 500;
}

.container1{
  box-shadow: 0px 0px 5px gray;
}

.abc{
    transition: 1s !important;
}
.abc:hover{
    transform: scale(1.02) !important;
    cursor: pointer;
}

.product{
    font-size: 13px !important;
}
.card{
  box-shadow: 0px 0px 5px grey !important;
  transition: 1s !important;
}
.card:hover{
  transform: scale(1.02) !important;
}
